@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }

    #gradient-canvas {
        --gradient-color-1: #FFB3C1;        
        --gradient-color-2: #660708;
        --gradient-color-3: #E5383B;
        --gradient-color-4: #A4161A;

        position: absolute;
        top:0;
        left:0;
        height:105%;
    }