.card {
  margin-top: 30px;
  box-shadow: 5px 5px 15px rgba(164, 22, 26, 0.5); /* Darker and more defined */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition */
  animation: float infinite 5s; /* Floating animation */
  height: 60vh;
}

.card:hover {
  box-shadow: 8px 8px 20px rgba(164, 22, 26, 0.7); /* More intense shadow */
  transform: translateY(-5px); /* Slight lift effect */
}

.h2{
  font-size: 2rem;
  font-weight: 700;
  color: #A4161A;
}

@keyframes float {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}


