@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --base-color: #f1f1f1;
  --primary-color: #f1f1f1;
  --secondary-color: #FF758F;
  --tertiary-color: #E5383B;
  --quaternary-color: #A4161A;
  --quinary-color: #0B090A;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--base-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #f191b6;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef4081;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ignore__x-scroll {
  overflow-x: hidden !important;
}

.pseudo__phone {
  background-color: #fff;
  width: 16vw;
  box-shadow: 0px 0px 10px 5px rgba(197, 38, 38, 1) inset;
}

.pseudo__qr {
  background-color: rgba(255, 255, 255, 0.5);
  height: 70%;
  width: 30rem;
}

.transparent-custom {
  background-color: rgba(0, 0, 0, 0);
}

.homepageimg {
  width: 100%;
  height: 100%;
}

.radial-button {
  z-index: 5;
  background: rgb(252, 234, 150) !important;
  background: radial-gradient(
    circle,
    rgba(252, 234, 150, 1) 0%,
    rgba(239, 132, 174, 1) 100%
  ) !important;
}

.circle {
  z-index: 4;
  position: relative;
  width: 250px;
  height: 250px;
  margin: 40px auto;
}

.circle .circle__container {
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, white, white),
    radial-gradient(
      circle,
      rgba(252, 234, 150, 1) 0%,
      rgba(239, 132, 174, 1) 100%
    );
}

.mask-top-container,
.mask-bottom-container {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 101%;
  height: 51%;
  overflow: hidden;
}

.mask-bottom-container {
  top: 50%;
}

.mask-top,
.mask-bottom {
  width: 100%;
  height: 100%;
  background: white;
  transition: all 0.5s ease;
  transform-origin: 50% 100%;
  backface-visibility: hidden;
}

.mask-bottom {
  transform-origin: 50% 0%;
}

.mask-top {
  animation: revealTop 0.5s ease forwards;
  animation-delay: 1s;
}

.mask-bottom {
  animation: revealBottom 0.5s ease forwards;
  animation-delay: 1s;
}

@keyframes revealTop {
  to {
    transform: rotate(180deg);
  }
}

@keyframes revealBottom {
  to {
    transform: rotate(-180deg);
  }
}

.adminnav:hover {
  background-color: var(--secondary-color);
  border-radius: 50px;
}

.navbar {
  background-color: rgba(255, 255, 219, 0.4);
}

.header {
  background-color: rgba(255, 255, 219, 0.4);
}

.floater-1 {
  top: 20vh;
  left: 0vw;
  height: 18vh;
  width: 8vw;
}

.floater-2 {
  top: 50vh;
  left: 13vw;
  height: 18vh;
  width: 8vw;
}

.floater {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.39);
  animation: float infinite 5s;
}

.floater::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

@keyframes float {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.textdiv {
  background-color: rgba(255, 255, 255, 0.5);
  height: 70%;
}

.textdiv h1,
p {
  color: var(--quinary-color);
}

.textdiv h1 {
  font-size: 4rem;
}

.cardsectioncontainer {
  background-color: var(--primary-color);
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.servbg {
  background-color: rgba(255,255,255,.5);
}

.teamcardsectioncontainer{
  background-color: var(--primary-color);
  height: 130vh;
  font-family: "Poppins", sans-serif;
}

.footer {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

.footer h2,h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.servicecardcontainer {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.servicecard h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--quaternary-color);
}

.servicecard {
  margin-top: 30px;
  box-shadow: 5px 5px 15px rgba(164, 22, 26, 0.5); /* Darker and more defined shadow */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for hover */
  animation: float 5s infinite; /* Floating animation */
  height: 30vh; /* Increased height for better spacing */
  width: 100%; /* Adjust width as needed */
  position: relative; /* Ensure positioning for absolute children */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers the content horizontally */
}

.servicecard:hover {
  box-shadow: 8px 8px 20px rgba(164, 22, 26, 0.7); /* More intense shadow on hover */
  transform: translateY(-5px); /* Slight lift effect */
}

@keyframes float {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
