@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #FFFFDB;
    --secondary-color: #FCEA96;
    --tertiary-color: #F8D65B;
    --quaternary-color: #F2AB7F;
    --quinary-color: #EF84AE;
}

.homepageimg{
    width: 100%;
    height: 100%;
}