
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 20px;
  /* decrease letter spacing */
  letter-spacing: -0.5px;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  margin: 10px 0;
}

strong {
  color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
